<h1> <%= @lesson.name %> </h1>

<p> <%= @lesson.content %> </p>
<%= link_to "Edit", edit_lesson_path(@lesson) %>
<p><%= link_to "Delete", lesson_path(@lesson),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p> <%= link_to "All Lessons", lessons_path %> </p>
<p> <%= link_to "Next Lesson", lesson_path(@lesson.next)  %> </p>
